---
import MainLayoutCS2 from '../../layouts/MainLayoutCS2.astro';
import TableOfContents from '../../components/TableOfContents.astro';
const title = 'Search - Cities Skylines Modding';
---

<MainLayoutCS2 title={title}>
	<section class="py-12 sm:ml-64 xl:mr-64 text-lg text-hit-gray-500">
		<div class="content">
			<h2 class="border-b-2 border-hit-gray-600 pb-8 text-4xl font-medium text-hit-gray-400" id="about">Search</h2>
			<p class="mt-4">
				This is a custom search for searching the entire website. If you would like to search within a specific article, press <span class="key">Ctrl+F</span>
				 to use the search in your browser.
			</p>
			<p class="mt-4"><br /></p>
			<div id="search"></div>
			<script>
				window.addEventListener('DOMContentLoaded', (event) => {
					// @ts-ignore
					new PagefindUI({ element: '#search', showSubResults: true });
				});
			</script>
		</div>
	</section>
</MainLayoutCS2>
