@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Works on Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: #575d65 #282b2f;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 6px;
	}

	*::-webkit-scrollbar-track {
		background: #282b2f;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #575d65;
		border-radius: 20px;
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
		src: url('/fonts/open-sans-v36-latin-400.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 500;
		font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
		src: url('/fonts/open-sans-v36-latin-500.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
		src: url('/fonts/open-sans-v36-latin-600.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
		src: url('/fonts/open-sans-v36-latin-700.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 800;
		font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
		src: url('/fonts/open-sans-v36-latin-800.woff2') format('woff2');
	}

	.path {
		@apply bg-[#1f2022] text-[#b3937d] px-[.25rem] break-words;
	}

	.key {
		@apply bg-[#282b2f] text-[#8fa68d] px-[.375rem] border rounded-md border-[#34383d];
	}

	.explanation {
		@apply text-sm mt-2 text-hit-gray-500;
	}
}

@layer utilities {
	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}

		*,
		*::before,
		*::after {
			-webkit-animation-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			-webkit-animation-iteration-count: 1 !important;
			animation-iteration-count: 1 !important;
			-webkit-transition-duration: 0.01ms !important;
			-o-transition-duration: 0.01ms !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}
