---

---

<aside id="separator-sidebar" class="fixed top-0 right-0 z-40 w-64 h-screen transition-transform translate-x-0 hidden xl:block" aria-label="Sidebar">
	<!-- !sidebar -->
	<div class="h-full px-6 pb-4 pt-4 overflow-y-auto bg-lightbg">
		<nav role="navigation" class="table-of-contents">
			<ul></ul>
		</nav>
	</div>
</aside>

<script is:inline>
	document.addEventListener('DOMContentLoaded', () => {
		const tocElement = document.querySelector('.table-of-contents ul');
		if (!tocElement) return;

		document.querySelectorAll('h2, h3').forEach((heading) => {
			const id = heading.id;
			const title = heading.textContent;
			const isH2 = heading.tagName === 'H2';

			const listItem = document.createElement('li');
			listItem.className = isH2 ? '' : 'mt-1';

			const link = document.createElement('a');
			link.href = `#${id}`;
			link.textContent = title;
			link.className = isH2
				? 'text-hit-gray-200 text-lg inline-flex rounded-md hover:text-hoverlink mt-6'
				: 'text-hit-gray-400 text-[1rem] leading-[1.25rem] inline-flex ps-2 rounded-md hover:text-hoverlink';

			listItem.appendChild(link);
			tocElement.appendChild(listItem);
		});

		// Smooth Scrolling
		tocElement.addEventListener('click', function (e) {
			if (e.target.tagName === 'A') {
				e.preventDefault();
				const targetId = e.target.getAttribute('href').slice(1);
				const targetElement = document.getElementById(targetId);

				if (targetElement) {
					targetElement.scrollIntoView({
						behavior: 'smooth',
						block: 'start',
					});
				}
			}
		});
	});
</script>
