---
import MainLayout from '../../layouts/MainLayout.astro';
import Link from '../../components/Link.astro';
import TableOfContents from '../../components/TableOfContents.astro';
const title = 'Custom Effect Loader - Cities Skylines Modding';
---

<MainLayout title={title}>
	<TableOfContents />
	<section class="pt-12 pb-48 sm:ml-64 xl:mr-64 text-lg text-hit-gray-500">
		<h1 id="overview" class="border-b-4 border-hit-gray-600 pb-8 text-4xl font-bold text-hit-gray-400">
			Custom Effect Loader
		</h1>
		<div class="content">
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="about">
				<a
					href="#about"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>About</a
				>
			</h2>
			<p class="mt-4">
				<Link
					classes=""
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=1886877404"
					text="The Custom Effect Loader mod by boformer"
					theme="externallink"
				/> can be used to add custom light effects to props and vehicles. The information in this article is
				based on <Link
					classes=""
					href="https://gist.github.com/boformer/a9c5935a9752dcaa68d67e3a611ada26"
					text="the official documentation of the mod"
					theme="externallink"
				/>.
			</p>
			<p class="mt-4">This article assumes you are familiar with prop asset creation.</p>
			<h2
				class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400"
				id="import-test"
			>
				<a
					href="#import-test"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Effect</a
				>
			</h2>
			<h3 class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500" id="xml">
				<a
					href="#xml"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>XML</a
				>
			</h3>
			<p class="mt-4">
				After subscribing to the mod(or adding it locally) and enabling it, <Link
					classes=""
					href="https://drive.google.com/open?id=1NeALtBEpJS0QNxc-Pb5XrHWBQkcruYKM"
					text="download the example effect XML file"
					theme="externallink"
				/> and paste it in your local asset folder located here:
			</p>
			<p class="mt-4"><span class="path">%LocalAppData%\Colossal Order\Cities_Skylines\Addons</span></p>
			<p class="mt-4">
				See another more complicated example of an effects definition file <Link
					classes=""
					href="https://gist.github.com/boformer/6cb54732245b14e214b26fe0b7d1530b"
					text="here"
					theme="externallink"
				/>.
			</p>
			<h3
				class="pb-4 mt-16 text-2xl font-semibold border-b text-hit-gray-400 border-hit-gray-500"
				id="effect-properties"
			>
				<a
					href="#effect-properties"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Effect Properties</a
				>
			</h3>
			<p class="mt-4">If you open the XML file using a text editor, you can adjust various properties.</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="name">
				<a
					href="#name"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Name</a
				>
			</h4>
			<p class="mt-4">
				Name of the light effect which will show up in the asset editor. This must be globally unique so it's a
				good idea to prefix it with your username. This should not be changed for already used and published
				effects.
			</p>
			<h4 class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12" id="type">
				<a
					href="#type"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Type</a
				>
			</h4>
			<p class="mt-4">
				The type of light: <span class="path">Spot</span>, <span class="path">Directional</span>, <span
					class="path">Point</span
				>, <span class="path">Area</span>.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="intensity"
			>
				<a
					href="#intensity"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Intensity</a
				>
			</h4>
			<p class="mt-4">
				The brightness of the light, usually starts from 4 for street lights and up to 8 for floodlights.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="range"
			>
				<a
					href="#range"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Range</a
				>
			</h4>
			<p class="mt-4">How far the light effect extends in meters.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="spotangle"
			>
				<a
					href="#spotangle"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Spot Angle</a
				>
			</h4>
			<p class="mt-4">
				The angle of how wide or narrow the light beam is for <span class="path">Spot</span> lights.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="spotleaking"
			>
				<a
					href="#spotleaking"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Spot Leaking</a
				>
			</h4>
			<p class="mt-4">The fog/bloom effect around the light source, usually 0.1 to 0.5.</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="batchedlight"
			>
				<a
					href="#batchedlight"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Batched Light</a
				>
			</h4>
			<p class="mt-4">
				If this is set to true, the light is visible from any distance, must be false for vehicle lights.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="fadestartdistance"
			>
				<a
					href="#fadestartdistance"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Fade Start Distance</a
				>
			</h4>
			<p class="mt-4">
				If batched light is set to false, this controls the distance at which the light effect starts to fade
				out, usually around 300.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="fadeenddistance"
			>
				<a
					href="#fadeenddistance"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Fade End Distance</a
				>
			</h4>
			<p class="mt-4">
				If batched light is set to false, this controls the distance at which the light effect is no longer
				visible, usually around 500. Higher values may have no effect because of the limited prop render
				distance unless <Link
					classes=""
					href="https://steamcommunity.com/sharedfiles/filedetails/?id=1680642819"
					text="a mod like ULOD"
					theme="externallink"
				/> increases this distance.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="offmin-offmax"
			>
				<a
					href="#offmin-offmax"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Off Min &amp; Off Max</a
				>
			</h4>
			<p class="mt-4">
				Daylight values under which the lights turn off. For night-only lights usually 0.4, 0.7. If both values
				are the same, all instances of this light will turn off at the same time(more specifically daylight
				brightness), but if they are different, they will turn off at random times. <Link
					classes=""
					href="https://docs.google.com/spreadsheets/d/1adrpJysA9yxkrRGrQ-I3VVs8QqqQvs4qu9Cq4wSCLqY/edit?usp=sharing"
					text="Check this spreadsheet"
					theme="externallink"
				/> to see how many hours during the day the light will be off using which values.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="blinktype"
			>
				<a
					href="#blinktype"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Blink Type</a
				>
			</h4>
			<p class="mt-4">
				If and how the light should blink: <span class="path">None</span>, <span class="path"
					>Blink_050_050</span
				>, <span class="path">MildFade_0125_0125</span>, <span class="path">MediumFade_500_500</span>, <span
					class="path">StrongBlaze_0125_0125</span
				>, <span class="path">StrongFade_250_250</span>, <span class="path">Blink_025_025</span>
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="rotationspeed"
			>
				<a
					href="#rotationspeed"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Rotation Speed</a
				>
			</h4>
			<p class="mt-4">
				The speed at which the light will rotate around an axis, usually 10 to 50. Rotation works only if
				batched light is set to false.
			</p>
			<h4
				class="pb-4 mt-8 text-xl font-medium border-b text-hit-gray-400 border-hit-gray-950 lg:mt-12"
				id="rotationaxis"
			>
				<a
					href="#rotationaxis"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Rotation Axis X Y Z</a
				>
			</h4>
			<p class="mt-4">Rotation axis vector around which the light will rotate.</p>
			<h2 class="pb-8 mt-24 text-4xl font-medium border-b-2 border-hit-gray-600 text-hit-gray-400" id="publish">
				<a
					href="#publish"
					title="Click to generate a direct link to this section in the browser's address bar for easy sharing."
					>Publish</a
				>
			</h2>
			<p class="mt-4">
				You can publish the asset as usual, but you must include your modified XML file in the content folder.
				Make sure the mod is enabled while you publish the asset, this will add a custom tag which can be used
				to find all custom effect loader assets in the steam workshop.
			</p>
		</div>
	</section>
</MainLayout>
